<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop - About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

    <!-- Links para conectarse a BOOSTRAP ,CSS y mas -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                <B>Shot-Star</B>
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros">Acerca de nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="anime">Anime</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="formulario">Formulario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="crud">Personas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="crud_generos">Generos</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Shot-Star</h1>
                    <p>
                        La página de anime tiene como objetivo ser una plataforma central 
                        para los fanáticos del anime, ofreciendo una combinación de comunidad,
                         comercio, descubrimiento, información, noticias, y entretenimiento. 
                         Busca crear un espacio donde los aficionados puedan interactuar, mantenerse
                          informados, adquirir productos relacionados con sus animes favoritos, y 
                          descubrir nuevos contenidos que enriquezcan su experiencia como seguidores del anime.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/img/logocn.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-1 pb-1">
            <div class="col-lg-5 m-auto">
                <h1 class="h1"> <b>Creadores</b></h1>
                </div>
    </section>
    <section>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8Ma7w7asm9XLG6pYHT8GqQIJp0pHfs8zCFQ&s" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Denis</h5>
                      <p class="card-text">
                        <li>Edad: 22 </li>
                        <li>Fecha De Nacimiento:</li>
                        <li>Estado Civil</li>
                        <li>Genero</li>
                        <br>¡Hola! Soy Denis, programador de profesión y apasionado por la tecnología. Además de codificar, me encanta el anime y jugar videojuegos. Mis animes favoritos incluyen "One Piece", "Naruto" y "Bleach", y disfruto explorando nuevos títulos. En el mundo de los videojuegos, me gusta sumergirme en aventuras y desafíos. ¡Un placer conocerte!<br>

                    </p>
                      
                    </div>
                  </div>
                </div>
                  <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://i.pinimg.com/736x/2b/72/8f/2b728f1bc27916b3158470594c59642a.jpg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">William Quezada</h5>
                      <p class="card-text">
                        <li>Edad: 21 </li>
                        <li>Fecha De Nacimiento: 24/04/2023</li>
                        <li>Estado Civil: Soltero</li>
                        <li>Genero: Helicoptero  Apache</li>
                        <br>¡Hola! Soy William, y me dedico a la programación. Además de mi trabajo, soy un gran fan del anime y los videojuegos. Entre mis animes favoritos están "One Piece", "Hajime no Ippo". También me encanta sumergirme en diferentes videojuegos en especial los Souls , siempre buscando nuevas aventuras y desafíos. ¡Encantado de conocerte!<br>

                    </p>
                      
                    </div>
                  </div>
                </div>
            </div>
            


                </section>
                <br>
                <br>

    <!-- End Section -->



    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Shot Star</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">shotstar@company.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Animes Recomendados</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="https://www3.animeflv.net/anime/dragon-ball-z">Dragon ball Z</a></li>
                        <li><a class="text-decoration-none" href="https://www3.animeflv.net/anime/one-piece-tv">One Piece</a></li>
                        <li><a class="text-decoration-none" href="https://www3.animeflv.net/anime/jujutsu-kaisen-tv">Jujutsu Kaisen</a></li>
                        <li><a class="text-decoration-none" href="https://www3.animeflv.net/anime/naruto">Naruto</a></li>
                        <li><a class="text-decoration-none" href="https://www3.animeflv.net/anime/fullmetal-alchemist-brotherhood">FullMetal Alchemist Brotherhood</a></li>
                        <li><a class="text-decoration-none" href="https://www3.animeflv.net/anime/kimetsu-no-yaiba">Demon Slayer</a></li>
                        <li><a class="text-decoration-none" href="https://www3.animeflv.net/anime/shingeki-no-kyojin">Attack on Titan</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Paginas</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="index.html">Inicio</a></li>
                        <li><a class="text-decoration-none" href="nosotros.html">Acerca de nosotros</a></li>
                        <li><a class="text-decoration-none" href="anime.html">Anime</a></li>
                        <li><a class="text-decoration-none" href="formulario.html">Formulario</a></li>
                        <li>                    <!-- Start Script -->
                            <script src="assets/js/jquery-1.11.0.min.js"></script>
                            <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
                            <script src="assets/js/bootstrap.bundle.min.js"></script>
                            <script src="assets/js/templatemo.js"></script>
                            <script src="assets/js/custom.js"></script>
                            <!-- End Script -->
                            
                            <div id="main">
                                
                            <article>
                                <button id="dom">Esconder </button>
                                <!-- <button id="dom3">Esconde Texto</button> -->
                                <h1 id="dom2"><br>
                                    <img src="https://media1.tenor.com/m/Fy-ux1uoWWIAAAAC/splatoon-splatoon-3.gif" alt=""></h1>
        
                        </div>
                        <script>
                            $("#dom").click(function(){
                                $("#dom2").toggle();
                                document.getElementById("dom").innerHTML="Mostrar"
                            })
        
                        </script></li>
                    </ul>
                </div>

            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>